<h1>New Book</h1>

<form method="post" action="/books">  {{!-- the url it post to --}}
    <div>
        <label>Name</label>
    </div>
    <div>
        <input type="text" name="name" />
    </div>
    <div>
        <label>author</label>
    </div>
    <div>
      <input type="text" name="author" />
    </div>

 
    <div>
        <input type="submit" value="Create Books" />
    </div>
</form>